$blue: #4863A0;

body {
  font-family: 'Open Sans', sans-serif;
}
@media print {
  #csv {
    // display: none;
  }
}
#csv {
  padding: 1em;
  border-bottom: 1px dotted #000;
  textarea {
    width: 684px;
    height: 15em;
  }
}
#print {
  width: 684px;
  .dce-set {
    page-break-after: always;
    height: 1000px;
    h1 {
      padding: 5px;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: bold;
    }
    footer {
      position: relative;
      top: 950px;
      font-size: 14px;
      font-weight: bold;
    }
    .header {
      margin-bottom: 1em;
      border-bottom: 1px solid #ccc;
      .survey-id {
        font-weight: bold;
        font-size: 16px;
        float: left;
        width: 300px;
      }
      .choice-task-id {
        font-weight: bold;
        font-size: 16px;
        float: right;
        width: 300px;
        text-align: right;
      }
    }
    margin: 1em;
    .dce-alternatives {
      border: 1px solid #bbb;

      .dce-alternative:first-child {
        border-right: 10px solid #bbb;
      }

      .dce-alternative {
        float: left;
        width: 320px;
        background-color: #eee;

        h2 {
          font-weight: bold;
          font-size: 14px;
          padding: 10px 0 10px 0;
          text-align: center;
        }
        .dce-choice-prompt {
          text-align: center;
          color: red;
          font-weight: bold;
          font-size: 18px;
          padding: .5em 0;
          margin-bottom: -5px;
        }
        .slug {
          font-size: 10px;
          color: #aaa;
          position: relative;
          bottom: -15px;
        }

        .dce-attributes {
          .dce-attribute {
            background-color: #fff;
            padding: 10px 2px;
            height: 100px;
            border-bottom: 1px solid #bbb;
            img {
              max-width: 100px;
              max-height: 100px;
              float: right;
              margin-left: 10px;
              margin-right: 2px;
            }
            img.left-image {
              float: left;
              margin-left: 0;
              margin-right: 10px;
              margin-left: 2px;
            }
            p {
              text-align: center;
              font-size: 12px;
              strong {
                display: block;
                padding: 3px 0 3px 0;
                font-size: 18px;
                font-weight: bold;
                color: $blue;
              }
            }
          }
          .dce-attribute:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}