$blue: #4863A0;

body {
  font-family: 'Open Sans', sans-serif;
}
@media print {
  #csv {
    display: none;
  }
}
#csv {
  padding: 1em;
  border-bottom: 1px dotted #000;
  textarea {
    width: 684px;
    height: 15em;
  }
}
#print {
  width: 684px;
  .dce-set {
    page-break-after: always;
    h1 {
      padding: 5px;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: bold;
    }
    margin: 1em;
    .dce-alternatives {
      border: 1px solid #bbb;

      .dce-alternative:first-child {
        border-right: 10px solid #bbb;
      }

      .dce-alternative {
        float: left;
        width: 320px;

        h2 {
          font-weight: bold;
          font-size: 18px;
          padding: 10px 0 10px 0;
          text-align: center;
        }
        .dce-choice-prompt {
          text-align: center;
          color: red;
          font-weight: bold;
          font-size: 18px;
          background-color: #EEE;
          padding: 1em 0 1em 0;
        }
        .slug {
          font-size: 10px;
          color: #aaa;
          background-color: #EEE;
          padding: 1em 2px 2px 2px;
        }

        .dce-attributes {
          .dce-attribute {
            padding: 1em;
            margin-top: 10px;
            border-bottom: 1px solid #bbb;
            img {
              max-width: 100px;
              max-height: 100px;
              float: right;
              margin-left: 10px;
            }
            img.left-image {
              float: left;
              margin-left: 0;
              margin-right: 10px;
            }
            p {
              font-size: 12px;
              strong {
                display: block;
                padding: 3px 0 3px 0;
                font-size: 18px;
                font-weight: bold;
                color: $blue;
              }
            }
          }
          .dce-attribute:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}